body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007BFF;
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

/* Styles for the logout button */
form.logout-form {
    position: relative;
}

button.logout-button {
    display: block;
    width: auto;
    margin: 0 auto;
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.logout-button:hover {
    background-color: #c82333;
}

.eoi-card {
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
}

.eoi-card p {
    margin: 0;
}

.table-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 10px;
}

.table-container th {
    background-color: #4CAF50;
    color: white;
}
