/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    /* Use Roboto font */
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

.banner {
    width: 100%;
    background: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    padding: 10px 0;
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #74EBD5 0%, #9FACE6 100%);
}

.register-container {
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333333;
}

.form-group input {
    padding: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    font-size: 1em;
}

.error-message {
    color: #FF3333;
    font-size: 0.9em;
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 10px;
    border: none;
    background: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    color: #FFFFFF;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button[type="submit"]:hover {
    background: linear-gradient(90deg, #9FACE6 0%, #74EBD5 100%);
}
